headerbar.default-decoration {
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	font-size: 0.6em;
}

headerbar.default-decoration button titlebutton {
	padding: 0px;
	min-height: 0px;
}

.termite {
	/* 
	 * This color should match the background color set
	 * in ~/.base16_theme
	 */
	background-color: #2e3440;
	padding: 12px;
}

